.write-message-container {
  min-height: 100vh;
  background: #E74C3C;
  color: var(--snow-white);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
} 